.media {
    padding: 10px 0px !important;
    transition: background-color .2s linear;
}

tbody tr td:nth-child(1) .media a {
    margin-left: auto;
    margin-right: auto;
}

tbody tr td:last-child {
    text-align: center;
}

@media only screen and (min-width: 1900px) {
    table.dataTable {
        display: table;
    }
}