#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1D363C;
    z-index: 9999999;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*background-image: url('../../../../assets/images/celler.gif');*/
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}  